@model MVC2Labb2.ViewModels.MovieViewModel;

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">
                    <a asp-controller="Movie"
                       asp-action="MovieList"
                       asp-route-sortColumn="title"
                       asp-route-sortOrder=@Model.SortOrder>
                        Title
                        @if (Model.SortOrder == "asc")
                        {
                            <i class="fa fa-fw fa-sort-desc"></i>
                        }
                        else
                        {
                            <i class="fa fa-fw fa-sort-asc"></i>
                        }
                    </a>
                </th>
                <th scope="col">
                    <a asp-controller="Movie"
                       asp-action="MovieList"
                       asp-route-sortColumn="date"
                       asp-route-sortOrder=@Model.SortOrder>
                        Release Year
                        @if (Model.SortOrder == "asc")
                        {
                            <i class="fa fa-fw fa-sort-desc"></i>
                        }
                        else
                        {
                            <i class="fa fa-fw fa-sort-asc"></i>
                        }
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Release</td>
            </tr>
            }

        </tbody>
    </table>